<% tab "employees" %>
<h3>Employees</h3>

<p>
	<%= link_to 'New Employee', new_employee_path, :class => "btn btn-success" %>
</p>

<table class="table table-bordered table-striped">
  <tr>
    <th>Employee</th>
    <th>ID</th>
  </tr>
<% @employees.each do |employee| %>
  <tr>
  	<td><%= link_to employee.display_name, employee %></td>
    <td><%= employee.id %></td>
  </tr>
<% end %>
</table>
