<% tab "departments" %>
<h3>Departments</h3>

<p>
	<%= link_to 'New Department', new_department_path, :class => "btn btn-success" %>
</p>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Open</th>
    <th>Close</th>
  </tr>
<% @departments.each do |department| %>
  <tr>
    <td><%= link_to department.name, department %></td>
    <td><%= department.open_time_formatted %></td>
    <td><%= department.close_time_formatted %></td>
  </tr>
<% end %>
</table>
