// Place all the styles related to the shift controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_and_overrides";

.fc-content th
{
  font-size: xx-small;
}

.fc-grid table {
	@extend .table;
	@extend .table-striped;
	@extend .table-bordered;
	@extend .table-condensed;
}

.fc-grid .table thead th
{
	text-align: center
}

div.fc-event-inner:hover .eventOptions
{
	display: inherit;
}

div.eventOptions
{
	display: none;
	float: right;
}

span.eventOption
{
	margin-left: 2px;
	margin-right: 2px;
}

div.lunch
{
	background-color: red;
	border-color: red;
}
div.timeoff
{
	background-color: purple;
	border-color: purple;
}
div.shift
{
	background-color: blue;
	border-color: blue;
}