<h3>Employee Time-Off</h3>
<% if notice%>
<div class="alert-box success">
	<%= notice %>
</div>
<% end %>
<div class="row">
	<div class="twelve columns">
		<table style="width: 100%">
			<tr>
				<th>ID</th>
				<th>Employee</th>
			</tr>
			<% @employees.each do |employee| %>
			<tr>
				<td><%= employee.id %></td>
				<td><%= link_to employee.display_name, employee_time_off_url(:employee_id => employee.id) %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>